<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @violence.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @violence.active %>
</p>

<%= link_to 'Edit', edit_violence_path(@violence) %> |
<%= link_to 'Back', violences_path %>
