<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :target_group %>
    <%= form.number_field :target_group %>
  </div>

  <div class="field">
    <%= form.label :theme_id %>
    <%= form.text_field :theme_id %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id %>
  </div>

  <div class="field">
    <%= form.label :violence_id %>
    <%= form.text_field :violence_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
